@model AccTion.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="alert alert-info">
        You are already logged in. <a href="@Url.Action("Dashboard", "Home")">Go to Dashboard</a>
        </div>
}
else
{
<div class="d-flex justify-content-center">
<h2><strong><em>Login To Your AccTion</em></strong></h2>
</div>

<form asp-action="Login" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class ="d-flex justify-content-center mb-3">
        <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger ms-2"></span>
    </div>

    <div class ="d-flex justify-content-center mb-3">
        <input asp-for="Password" type="password" class="form-control" placeholder="password"/>
        <span asp-validation-for="Password" class="text-danger ms-2"></span>
    </div>
    
    <div class="d-flex justify-content-center mb-3">
    <button type="submit" class="btn btn-primary btn-lg px-5">Login</button>
    </div>
</form>
<div class="d-flex justify-content-center">
<p>
    Don't have an account? <a asp-action="Index">Register here</a>
</p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
}